body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: linear-gradient(to top right, #ff99ff 0%, #33ccff 100%);
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.login-container>div {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    width: 100%;
}

label{
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: #003366;
}

input{
    height: 2em;
    margin-top: 1em;
    border:none;
    border-bottom: 1px solid;
    font-size: 16px;
    background: transparent;
}
