.tasks-container {
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    align-items: center;
    margin-top: 8vh;
}

.task {
    position: relative;
    align-items: center;
    background-color: rgba(255, 254, 253, 0.85);
    height: 30vh;
    width: 100%;
    box-shadow: 0 0 12px 3px rgba(0,0,0,0.5);
    z-index: 1;
}

.close {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 32px;
    height: 32px;
    opacity: 0.4;
}

.close:hover {
    opacity: 1;
    cursor: pointer;
}

.close:before, .close:after {
    position: absolute;
    top: 8px;
    right: 16px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: red;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}
