<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Main page</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div class="login-container">
        <div>
            <label for="formControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="formControlInput1" placeholder="name@example.com">
        </div>
        <div>
            <label for="formControlInput2" class="form-label">Password</label>
            <input type="password" class="form-control" id="formControlInput2">
        </div>
    </div>
</body>
</html>