<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/form.css}" rel="stylesheet" />
</head>
<body>
    <form th:action="@{/save-user}" th:object="${user}" method="post">
        <div>
            <label for="email" class="form-label">Email</label>
            <input id="email" placeholder="Enter Email" required type="text" th:field="*{email}"/>
        </div>
        <div>
            <label for="pass" class="form-label">Password</label>
            <input id="pass" placeholder="Enter Password" required type="password" th:field="*{password}"/>
        </div>
        <div class="buttons-container">
            <button type="submit" class="btn">Create User</button>
            <button class="btn" onclick="window.close()">Close</button>
        </div>
    </form>
</body>
</html>