<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/menu.css}" rel="stylesheet" />
    <link th:href="@{/css/task.css}" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <a href="#">Test</a>
        <a href="#">Test</a>
        <a href="#">Test</a>
    </div>
    <div class="tasks-container">
        <div class="task">
            <h1>Test</h1>
            <p>Test</p>
        </div>
        <div class="task">
            <h1>Test</h1>
            <p>Test</p>
        </div>
        <div class="task">
            <h1>Test</h1>
            <p>Test</p>
        </div>
    </div>
</body>
</html>