<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/menu.css}" rel="stylesheet" />
    <link th:href="@{/css/task.css}" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <a class="navbar-element" href="">Home</a>
        <a class="navbar-element" href="">Add-task</a>
        <a class="navbar-element" href="">Account</a>
    </div>
    <div class="tasks-container">
        <div class="task" th:each="task: ${tasks}">
            <a onclick="" class="close"></a>
            <h1 th:text="${task.getTitle()}"></h1>
            <p th:text="${task.getDescription()}"></p>
        </div>
    </div>
</body>
</html>