<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/menu.css}" rel="stylesheet" />
    <link th:href="@{/css/task.css}" rel="stylesheet" />
</head>
<body>
    <form class="navbar" th:action="@{/logout}">
        <a class="navbar-element" th:href="@{/tasks/}">Add-task</a>
        <a class="navbar-element" th:href="@{/}">Account</a>
        <a class="navbar-element" type="submit">Logout</a>
<!--        FIXME-->
    </form>
    <div class="tasks-container">
        <div class="add-task">
            <a class="add-button"></a>
            <input placeholder="Title">
            <textarea placeholder="Description"></textarea>
        </div>
        <div class="task" th:each="task: ${tasks}">
            <a th:href="@{/delete_task/{id}(id = ${task.getId()})}" class="close"></a>
            <h1 th:text="${task.getTitle()}"></h1>
            <p th:text="${task.getDescription()}"></p>
        </div>
    </div>
</body>
</html>